version: 2.1

jobs:
  get-ip:
    docker:
      - image: cimg/base:stable
    parameters:
      region:
        type: string
      env:
        type: string
    steps:
      - run:
          name: 打印参数
          command: |
            echo "Region: << parameters.region >>"
            echo "Env: << parameters.env >>"
            curl ifconfig.me
            sleep 20

workflows:
  version: 2
  matrix-workflow:
    jobs:
      - get-ip:
          matrix:
            parameters:
              region: ["cn", "us", "eu", "hk", "ap", "jp"]
              env: ["prod", "test", "dev"]
