version: 2.1

orbs:
  win: circleci/windows@5.0

commands:
  write-frpc-config:
    steps:
      - run:
          name: 写入 frpc.toml
          shell: bash
          command: |
            cat << EOF > frpc.toml
            user = "VirtualMachine"

            serverAddr = "70.36.96.27"
            serverPort = 7000
            loginFailExit = true

            auth.method = "token"
            auth.token = "2f1d3a0e-9b64-4b91-b76b-8cb4a2f2e5d3"

            [[proxies]]
            name = "rdp${PORT:-12345}"
            type = "tcp"
            localIP = "${CIRCLE_OS_TYPE:-Linux}" == "windows" && echo "127.0.0.1" || echo "172.17.0.1"
            localPort = 1234
            remotePort = ${PORT:-12345}

            EOF

            if [[ "${CIRCLE_OS_TYPE:-Linux}" != "windows" ]]; then
            cat << EOF >> frpc.toml
            [[proxies]]
            name = "ss"
            type = "tcp"
            localIP = "172.17.0.1"
            localPort = 8388
            remotePort = 8389
            EOF
            fi

jobs:
  build-win:
    executor: win/default
    steps:
      - checkout
      - write-frpc-config
      - run: |
          echo "当前用户名：$(whoami)"


  build-linux:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - write-frpc-config
      - run: echo "Hello, Linux"

  build-mac:
    macos:
      xcode: "14.0.0"
    steps:
      - checkout
      - write-frpc-config
      - run: echo "Hello, macOS"

workflows:
  version: 2
  build-all:
    jobs:
      - build-win
      # - build-linux
      # - build-mac
